version: '3.3'
services:
  main:
    build: 
      context: .
      dockerfile: infrastructure/main.Dockerfile
      args:
        TON_API_LITE_SERVER_CONFIG: ${TON_API_LITE_SERVER_CONFIG}
    command: -w ${TON_API_WEBSERVERS_WORKERS} --bind 0.0.0.0:8081
    ports:
      - ${TON_API_HTTP_PORT}:8081
    environment:
      - TON_API_CACHE_ENABLED
      - TON_API_LOGS_ENABLED
      - TON_API_LITE_SERVER_CONFIG
      - TON_API_GET_METHODS_ENABLED
      - TON_API_JSON_RPC_ENABLED
      - TON_API_ROOT_PATH
      - TON_API_LOGS_JSON=0
      - FORWARDED_ALLOW_IPS=${TON_API_FORWARDED_ALLOW_IPS}
    restart: unless-stopped
    networks:
      - internal
networks:
  internal:
