version: '3.7'
services:
  main:
    image: ${DOCKER_REGISTRY:-toncenter}/${DOCKER_REPO:-ton-http-api}:${IMAGE_TAG:-latest}
    build: 
      context: ton-http-api
      dockerfile: .docker/${DOCKERFILE:-Dockerfile}
      args:
        TON_REPO:
        TON_BRANCH:
    ports:
      - ${TON_API_HTTP_PORT:-8081}:8081
    environment:
      - TON_API_CACHE_ENABLED
      - TON_API_CACHE_REDIS_ENDPOINT
      - TON_API_CACHE_REDIS_PORT
      - TON_API_CACHE_REDIS_TIMEOUT
      - TON_API_LOGS_JSONIFY
      - TON_API_LOGS_LEVEL
      - TON_API_TONLIB_LITESERVER_CONFIG=/run/secrets/liteserver_config
      - TON_API_TONLIB_KEYSTORE
      - TON_API_TONLIB_PARALLEL_REQUESTS_PER_LITESERVER
      - TON_API_TONLIB_CDLL_PATH
      - TON_API_TONLIB_REQUEST_TIMEOUT
      - TON_API_GET_METHODS_ENABLED
      - TON_API_JSON_RPC_ENABLED
      - TON_API_WEBSERVERS_WORKERS
      - TON_API_WEBSERVERS_THREADS
      - TON_API_V3_ENABLED
      - TON_API_GUNICORN_FLAGS
      - TON_API_ROOT_PATH
      - TON_API_BOC_ENDPOINT
    restart: unless-stopped
    networks:
      - main
    secrets:
      - liteserver_config
    labels:
      co.elastic.logs/enabled: "true"
    # healthcheck:
    #   test: curl -sS http://127.0.0.1:8081${TON_API_ROOT_PATH}/healthcheck || echo 1
    #   interval: 15s
    #   timeout: 3s
    #   retries: 12
secrets:
  liteserver_config:
    file: ${TON_API_TONLIB_LITESERVER_CONFIG}
networks:
  main:
