version: '3.3'
services:
  main:
    depends_on:
      - mongodb
    secrets:
      - mongodb_password
    environment:
      - TON_API_LOGS_JSON
    labels:
      co.elastic.logs/enabled: "true"
  mongodb:
    image: mongo:5.0.5
    volumes:
      - mongodata:/data/db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: user1
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongodb_password
    secrets:
      - mongodb_password
    ports:
      - ${TON_API_MONGODB_PORT}:27017
    networks: 
      - internal
  analytics:
    build: 
      context: .
      dockerfile: infrastructure/analytics.Dockerfile
    secrets:
      - mongodb_password
    depends_on: 
      - mongodb
    restart: unless-stopped
    ports:
      - ${TON_API_ANALYTICS_PORT}:8081
    environment:
      - TON_API_ANALYTICS_ROOT_PATH
    networks:
      - internal
    command: --host 0.0.0.0 --port 8081
secrets:
  mongodb_password:
    file: private/mongodb_password
volumes:
  mongodata:
    external: false
